
.page-tela-principal{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    max-width: 100vw;

}

.container-tela-principal{
    height: 100%;
    width: 100%;
    display: flex; 
    transition: 1s ease-out;
}

.imagem-tela-principal{
    height: 100%;
    width: 1366px;
    filter: blur(1.8px);
    filter: brightness(45%);
   
}


.text-tela-principal {
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    color: #2033c0;

}
.text-fix{
    position: relative;
    font-size: 3.5rem;
    padding: 10px;
    color: #ffffff;
    margin: 5px;
    
}
.changingText{
    font-size: 3rem;
    padding: 10px;
}

